body {
	background: #f2f2f2;
	font-family: Arial;
}

div {
	margin: 20px 0;
}

.btn {
	background: #32021f;
	color: #fff;
	font-style: 16px;
	text-decoration: none;
	padding: 15px 20px;
	display: inline-block;
	margin: 0px 10px;
}

.btn:hover {
	opacity: .8;
}

.small {
	font-size: 14px;
	padding: 10px 15px;
}

.medium {
	font-size: 16;
	padding: 15px 20px;
}

.big {
	font-size: 18px;
	padding: 20px 55px;
}

.extra-big {
	font-size: 20px;
	padding: 25px 30px;
}

/* colores */
.azul { background: #246eb9; }
.verde {background: #4fb560; }
.naranjo { background: #f9a03f; }

.redondeado {
	border-radius: 100px;
}