@import 'generales';

header {
    background: #0d2c44;
    color: #fff;
}

.main {
    background: #fff;
    width: 70%;
    float: left;
}

aside {
    background: #bb1f35;
    color: #fff;
    width: 30%;
    float: left;
}
footer {
    clear: both;
    width: 100%;
    background: #0d2c44;
    color: #fff;
}