<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Layout Basica</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="contenedor">
		<header>
			<nav>
				<ul>
					<li><a href="">Inicio</a></li>
					<li><a href="">Acerca de</a></li>
					<li><a href="">Productos</a></li>
					<li><a href="">Contacto</a></li>
				</ul>
			</nav>
		</header>

		<section class="main">
			<div class="imagen">
				<img src="img/fineas-anton-150827.jpg" alt="">
			</div>
			<section class="posts">
				<article>
					<h2>Titulo del articulo</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique vero dignissimos iusto delectus illum dolor adipisci, odit quo laudantium nesciunt sequi voluptate natus nam perferendis illo rem minima, culpa placeat.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, ab ipsam, eius nobis ducimus tenetur nam rem, ad sapiente non voluptas! Facilis atque architecto non cumque asperiores id ipsa sed!
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem placeat eum quasi officia qui quidem ducimus quae id debitis fugiat facere asperiores atque, eligendi laborum quis praesentium perferendis, veritatis expedita.
					</p>
				</article>
			</section>
		</section>

		<aside>
			<div class="widget">
				<h3 class="titulo">Articulos destacados</h3>
				<ul>
					<li><a href="#"></a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat distinctio, incidunt, voluptatibus tempora temporibus eius est pariatur optio minus ducimus adipisci voluptate modi autem. Eos ipsa, distinctio nulla numquam facere.</li>
					<li><a href="#"></a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat distinctio, incidunt, voluptatibus tempora temporibus eius est pariatur optio minus ducimus adipisci voluptate modi autem. Eos ipsa, distinctio nulla numquam facere.</li>
					<li><a href="#"></a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat distinctio, incidunt, voluptatibus tempora temporibus eius est pariatur optio minus ducimus adipisci voluptate modi autem. Eos ipsa, distinctio nulla numquam facere.</li>
					<li><a href="#"></a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat distinctio, incidunt, voluptatibus tempora temporibus eius est pariatur optio minus ducimus adipisci voluptate modi autem. Eos ipsa, distinctio nulla numquam facere.</li>
					<li><a href="#"></a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat distinctio, incidunt, voluptatibus tempora temporibus eius est pariatur optio minus ducimus adipisci voluptate modi autem. Eos ipsa, distinctio nulla numquam facere.</li>														
				</ul>
			</div>

			<div class="widget">
				<h3 class="titulo">Informacion</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, enim at in blanditiis hic, delectus officia minus nam perferendis laudantium adipisci ullam voluptatem maxime possimus? Nesciunt, tempora saepe a. Consequuntur!</p>

			</div>
		</aside>

		<footer>
			<p>Guachumingo bla bla  - Todos los derechos reservados</p>
		</footer>

	</div>
</body>
</html>